parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    excludePaths:
        - */tests/fixtures/*
        - */tests/*/fixtures/*
    ignoreErrors:
        - '#Cannot call method getName\(\) on ReflectionType\|null#'
        - '#Method FormatPHP\\Util\\FormatHelper::loadFormatter\(\) never returns callable\(array\): FormatPHP\\MessageCollection so it can be removed from the return type#'
