parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    excludePaths:
        - */tests/*/fixtures/*
    ignoreErrors:
        - '#Cannot call method getName\(\) on ReflectionType\|null#'
