{% extends "layout.twig" %}

{% block content %}
    <h1>Welcome</h1>
    <p>
        Click on the Skeleton Tools menu above, to access tools for
        investigating and generating ICU skeletons.
    </p>
{% endblock %}
